html{
    scroll-behavior: smooth;
}

body {

    font-family: 'Ubuntu', sans-serif;
    background-color: black;
    color: white;
}

section[id]{
    scroll-margin-top: 70px;
}

.container{

    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to bottom, rgba(10, 2, 128, 0.6), rgb(0 0 0 / 0.9));
    
    
}

.menu__link{

    text-decoration: none;
    color: inherit;
    font-weight: bolder;
    color: aliceblue;
    transition: 500ms;
}

.menu__link:hover {
   color: rgba(225, 123, 123, 0.829);
}

.menu__item-2{

    max-width: 100px;
   
   transition: 0.7s;
}

.menu__item-2:hover{
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}


.sobreNosotros{
    margin-top: 3rem;
    display: flex;
    height: 440px;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom,rgb(0 0 0 / .7),rgb(0 0 0 / .7)),url(../css/imagenes/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;    
}


.sobreNosotros__info{
    color: rgba(255, 255, 255, 0.516);
    font-weight: bolder;
    font-size: 1.5rem;
    text-align: center;
    width: 70%;
    height: 12%;
    
}

.sobreNosotros__title{

    font-size: large;
    padding-top: 1.6rem;
}

.proyectoMazinger{
    background: radial-gradient(rgba(65, 1, 1, 0.564),rgba(0, 0, 0));
    margin-top: 4rem;
    display: flex;
    text-align: center;
    align-items: center;
}

.proyectoMazinger__imagen{
    max-width: 100%;
    transition: 500ms;
}

.proyectoMazinger__imagen:hover{
    opacity: .8;
}

.proyectoMazinger__titulo{
    font-size: 1.75rem;
    padding: 3rem;
    color: #cccc75;

}

.proyectoMazinger__info{
    width: 60%;
    text-align: center;
}

.proyectoIronMan{
    background: radial-gradient(rgba(11, 1, 65, 0.564),rgba(0,0,0));
    margin-top: 4rem;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: row-reverse;
}

.proyectoIronMan__imagen{
    max-width: 100%;
    transition: 500ms;
}

.proyectoIronMan__imagen:hover{
    opacity: .8;
}

.proyectoIronMan__titulo{
    font-size: 1.75rem;
    padding: 3rem;
    color: #cccc75;

}

.proyectoIronMan__info{
    width: 60%;
    text-align: center;
}

.proyectoTerminator{
    background: radial-gradient(rgba(65, 1, 1, 0.564),rgba(0,0,0));
    margin-top: 4rem;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 1.5rem;
}

.proyectoTerminator__imagen{
    max-width: 100%;
    transition: 500ms;
    
}

.proyectoTerminator__imagen:hover{
    opacity: .8;
}

.proyectoTerminator__titulo{
    font-size: 1.75rem;
    padding: 3rem;
    color: #cccc75;

}

.proyectoTerminator__info{
    width: 60%;
    text-align: center;
}

.botonTerminator{
    padding: 0.5rem;
    background: linear-gradient(45deg, #6e2323,transparent);
    border-radius: 10px;
    box-shadow: 0px 0.3px 0px white;
    cursor: pointer;
    color: #b2afaf;
    font-size: 0.98rem;
    transition: 400ms;
}

.botonTerminator:hover{
    transform: scale(1.2);
}

.mensajeFinal{
    margin-top: 6rem;
    display: block;
    text-align: center;
    background-image: radial-gradient(rgba(1, 63, 45, 0.7),rgb(0 0 0 / .7))
}

.mensajeFinal__titulo{
    margin: 3rem;
    font-size: 3rem;
    font-style: italic;
}

.mensajeFinal__info{
    margin: 3rem;
    color: #fdfdfd59;
}

.mensajeFinal__imagen{
    width: 68%;
    padding-left: 12%;
    transition: 500ms;
    opacity: .9;
    
}

.mensajeFinal__imagen:hover{
    opacity: .7;
}

.contacto__titulo{
    margin: 3rem;
    font-size: 2.5rem;
    font-style: italic;
    color: #fdfdfdac;
}


form {
    margin: 49px 0;
    background: linear-gradient(to top, rgba(10, 6, 62, 0.384),rgb(0,0,0));
}
form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
.input-padron {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: #1b2556;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
background: #061976;
transform: scale(1.1)
}

footer{
    
    text-align: center;
    height: 30vh;
    background-image: linear-gradient(to bottom,rgb(0 0 0 / .9),rgb(0 0 0 / .9)),url(../css/imagenes/vector.jpg);
    background-position: center;
}

.copyright{
    color: rgba(211, 211, 211, 0.34);
    font-size: 0.6rem;
}

.footer__imagen{
    margin-top: 2%;
    width: 10%;
    opacity: .4;
}


@media screen and (max-width: 968px){

    .container{
        padding-top: 1rem;
        justify-content: space-evenly;
        align-items: center;
        
    }

    .sobreNosotros{
        margin-top: 1rem;
        height: 327px;
        justify-content: center;

    }

    .sobreNosotros__info{
        width: 50%;
        height: 70%;
        font-size: 1rem;
    }

    .sobreNosotros__title{
        font-size: large;
    }

    .proyectoMazinger{
        display: block;
    }
    .proyectoMazinger__info{
        padding-left: 20%;
        padding-bottom: 20%;
    }

    .proyectoIronMan{
        display: block;
    }
    .proyectoIronMan__info{
        padding-left: 20%;
        padding-bottom: 20%;
    }
    .proyectoTerminator{
        display: block;
    }
    .proyectoTerminator__info{
        padding-left: 20%;
        padding-bottom: 20%;
    }

    .mensajeFinal{
        margin-top: 6rem;
        display: block;
        text-align: center;

    }

    .mensajeFinal__titulo{
        margin: 3rem;
        font-size: 2rem;
    }
    .mensajeFinal__imagen{
        width: 100%;
        padding-left: 0%;
        
    }
   
    form{
        margin: 49px 0;
    }

    .input-padron{
        display: block;
        margin: 0 0 20px;
        padding: 10px 25px;
        width: 85%;
    }

    footer{
        text-align: center;
        height: 9vh;

    }
    
}
    
